branches/BHL-AU/portal/BHLPrototype/Web References/BHLImportWebService/bhlimportws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.mobot.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.mobot.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.mobot.org/">
      <s:element name="IAItemSelectPendingApproval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ageInDays" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IAItemSelectPendingApprovalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IAItemSelectPendingApprovalResult" type="tns:ArrayOfIAItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIAItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IAItem" nillable="true" type="tns:IAItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IAItem">
        <s:complexContent mixed="false">
          <s:extension base="tns:__IAItem" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="__IAItem" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:CustomObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ItemID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ItemStatusID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="IAIdentifierPrefix" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IAIdentifier" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Sponsor" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SponsorName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SponsorDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ScanningCenter" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CallNumber" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ImageCount" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="IdentifierAccessUrl" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Volume" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ScanOperator" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ScanDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ExternalStatus" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TitleID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Year" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IdentifierBib" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MARCBibID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ShortTitle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IADateStamp" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="IAAddedDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastOAIDataHarvestDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastXMLDataHarvestDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastProductionDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CreatedDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CustomObjectBase" abstract="true" />
      <s:element name="BotanicusHarvestLogSelectRecent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numLogs" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BotanicusHarvestLogSelectRecentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BotanicusHarvestLogSelectRecentResult" type="tns:ArrayOfBotanicusHarvestLog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBotanicusHarvestLog">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BotanicusHarvestLog" nillable="true" type="tns:BotanicusHarvestLog" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BotanicusHarvestLog">
        <s:complexContent mixed="false">
          <s:extension base="tns:__BotanicusHarvestLog" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="__BotanicusHarvestLog" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:CustomObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="BotanicusHarvestLogID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="HarvestStartDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="HarvestEndDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="AutomaticHarvest" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="SuccessfulHarvest" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Title" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleTag" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleCreator" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Creator" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Item" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Page" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IndicatedPage" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PagePageType" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PageName" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="IAItemErrorSelectRecent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numErrors" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IAItemErrorSelectRecentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IAItemErrorSelectRecentResult" type="tns:ArrayOfIAItemError" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIAItemError">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IAItemError" nillable="true" type="tns:IAItemError" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IAItemError">
        <s:complexContent mixed="false">
          <s:extension base="tns:__IAItemError">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="IAIdentifier" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="__IAItemError" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:CustomObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ItemErrorID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ItemID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ErrorDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Number" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Severity" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="State" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Procedure" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Line" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ImportErrorSelectRecent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numErrors" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportErrorSelectRecentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportErrorSelectRecentResult" type="tns:ArrayOfImportError" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfImportError">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ImportError" nillable="true" type="tns:ImportError" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ImportError">
        <s:complexContent mixed="false">
          <s:extension base="tns:__ImportError" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="__ImportError" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:CustomObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ImportErrorID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="KeyType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="KeyValue" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ErrorDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Number" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Severity" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="State" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Procedure" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Line" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ImportLogSelectRecent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numLogs" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportLogSelectRecentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportLogSelectRecentResult" type="tns:ArrayOfImportLog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfImportLog">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ImportLog" nillable="true" type="tns:ImportLog" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ImportLog">
        <s:complexContent mixed="false">
          <s:extension base="tns:__ImportLog">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ImportSource" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="__ImportLog" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:CustomObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ImportLogID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ImportDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="ImportSourceID" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ImportResult" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleInsert" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleUpdate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CreatorInsert" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CreatorUpdate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleCreatorInsert" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleCreatorUpdate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleTagInsert" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleTagUpdate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleTitleIdentifierInsert" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleTitleIdentifierUpdate" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleAssociationInsert" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleAssociationTitleIdentifierInsert" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ItemInsert" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ItemUpdate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TitleItemInsert" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PageInsert" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PageUpdate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IndicatedPageInsert" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IndicatedPageUpdate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PagePageTypeInsert" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PagePageTypeUpdate" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PageNameInsert" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PageNameUpdate" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="StatsSelectReadyForProductionBySource">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="importSourceID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatsSelectReadyForProductionBySourceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StatsSelectReadyForProductionBySourceResult" type="tns:ArrayOfStats" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStats">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Stats" nillable="true" type="tns:Stats" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Stats">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfItems" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AgeInDays" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemStatusID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="StatsCountIAItemPendingApproval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ageInDays" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatsCountIAItemPendingApprovalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StatsCountIAItemPendingApprovalResult" type="tns:Stats" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatsSelectIAItemGroupByStatus">
        <s:complexType />
      </s:element>
      <s:element name="StatsSelectIAItemGroupByStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StatsSelectIAItemGroupByStatusResult" type="tns:ArrayOfStats" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatsSelectIAItemPendingApprovalGroupByAge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ageInDays" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatsSelectIAItemPendingApprovalGroupByAgeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StatsSelectIAItemPendingApprovalGroupByAgeResult" type="tns:ArrayOfStats" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IAItemSelectPendingApprovalSoapIn">
    <wsdl:part name="parameters" element="tns:IAItemSelectPendingApproval" />
  </wsdl:message>
  <wsdl:message name="IAItemSelectPendingApprovalSoapOut">
    <wsdl:part name="parameters" element="tns:IAItemSelectPendingApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="BotanicusHarvestLogSelectRecentSoapIn">
    <wsdl:part name="parameters" element="tns:BotanicusHarvestLogSelectRecent" />
  </wsdl:message>
  <wsdl:message name="BotanicusHarvestLogSelectRecentSoapOut">
    <wsdl:part name="parameters" element="tns:BotanicusHarvestLogSelectRecentResponse" />
  </wsdl:message>
  <wsdl:message name="IAItemErrorSelectRecentSoapIn">
    <wsdl:part name="parameters" element="tns:IAItemErrorSelectRecent" />
  </wsdl:message>
  <wsdl:message name="IAItemErrorSelectRecentSoapOut">
    <wsdl:part name="parameters" element="tns:IAItemErrorSelectRecentResponse" />
  </wsdl:message>
  <wsdl:message name="ImportErrorSelectRecentSoapIn">
    <wsdl:part name="parameters" element="tns:ImportErrorSelectRecent" />
  </wsdl:message>
  <wsdl:message name="ImportErrorSelectRecentSoapOut">
    <wsdl:part name="parameters" element="tns:ImportErrorSelectRecentResponse" />
  </wsdl:message>
  <wsdl:message name="ImportLogSelectRecentSoapIn">
    <wsdl:part name="parameters" element="tns:ImportLogSelectRecent" />
  </wsdl:message>
  <wsdl:message name="ImportLogSelectRecentSoapOut">
    <wsdl:part name="parameters" element="tns:ImportLogSelectRecentResponse" />
  </wsdl:message>
  <wsdl:message name="StatsSelectReadyForProductionBySourceSoapIn">
    <wsdl:part name="parameters" element="tns:StatsSelectReadyForProductionBySource" />
  </wsdl:message>
  <wsdl:message name="StatsSelectReadyForProductionBySourceSoapOut">
    <wsdl:part name="parameters" element="tns:StatsSelectReadyForProductionBySourceResponse" />
  </wsdl:message>
  <wsdl:message name="StatsCountIAItemPendingApprovalSoapIn">
    <wsdl:part name="parameters" element="tns:StatsCountIAItemPendingApproval" />
  </wsdl:message>
  <wsdl:message name="StatsCountIAItemPendingApprovalSoapOut">
    <wsdl:part name="parameters" element="tns:StatsCountIAItemPendingApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="StatsSelectIAItemGroupByStatusSoapIn">
    <wsdl:part name="parameters" element="tns:StatsSelectIAItemGroupByStatus" />
  </wsdl:message>
  <wsdl:message name="StatsSelectIAItemGroupByStatusSoapOut">
    <wsdl:part name="parameters" element="tns:StatsSelectIAItemGroupByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="StatsSelectIAItemPendingApprovalGroupByAgeSoapIn">
    <wsdl:part name="parameters" element="tns:StatsSelectIAItemPendingApprovalGroupByAge" />
  </wsdl:message>
  <wsdl:message name="StatsSelectIAItemPendingApprovalGroupByAgeSoapOut">
    <wsdl:part name="parameters" element="tns:StatsSelectIAItemPendingApprovalGroupByAgeResponse" />
  </wsdl:message>
  <wsdl:portType name="BHLImportWSSoap">
    <wsdl:operation name="IAItemSelectPendingApproval">
      <wsdl:input message="tns:IAItemSelectPendingApprovalSoapIn" />
      <wsdl:output message="tns:IAItemSelectPendingApprovalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BotanicusHarvestLogSelectRecent">
      <wsdl:input message="tns:BotanicusHarvestLogSelectRecentSoapIn" />
      <wsdl:output message="tns:BotanicusHarvestLogSelectRecentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IAItemErrorSelectRecent">
      <wsdl:input message="tns:IAItemErrorSelectRecentSoapIn" />
      <wsdl:output message="tns:IAItemErrorSelectRecentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportErrorSelectRecent">
      <wsdl:input message="tns:ImportErrorSelectRecentSoapIn" />
      <wsdl:output message="tns:ImportErrorSelectRecentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportLogSelectRecent">
      <wsdl:input message="tns:ImportLogSelectRecentSoapIn" />
      <wsdl:output message="tns:ImportLogSelectRecentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StatsSelectReadyForProductionBySource">
      <wsdl:input message="tns:StatsSelectReadyForProductionBySourceSoapIn" />
      <wsdl:output message="tns:StatsSelectReadyForProductionBySourceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StatsCountIAItemPendingApproval">
      <wsdl:input message="tns:StatsCountIAItemPendingApprovalSoapIn" />
      <wsdl:output message="tns:StatsCountIAItemPendingApprovalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StatsSelectIAItemGroupByStatus">
      <wsdl:input message="tns:StatsSelectIAItemGroupByStatusSoapIn" />
      <wsdl:output message="tns:StatsSelectIAItemGroupByStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StatsSelectIAItemPendingApprovalGroupByAge">
      <wsdl:input message="tns:StatsSelectIAItemPendingApprovalGroupByAgeSoapIn" />
      <wsdl:output message="tns:StatsSelectIAItemPendingApprovalGroupByAgeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BHLImportWSSoap" type="tns:BHLImportWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IAItemSelectPendingApproval">
      <soap:operation soapAction="http://www.mobot.org/IAItemSelectPendingApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BotanicusHarvestLogSelectRecent">
      <soap:operation soapAction="http://www.mobot.org/BotanicusHarvestLogSelectRecent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IAItemErrorSelectRecent">
      <soap:operation soapAction="http://www.mobot.org/IAItemErrorSelectRecent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportErrorSelectRecent">
      <soap:operation soapAction="http://www.mobot.org/ImportErrorSelectRecent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportLogSelectRecent">
      <soap:operation soapAction="http://www.mobot.org/ImportLogSelectRecent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatsSelectReadyForProductionBySource">
      <soap:operation soapAction="http://www.mobot.org/StatsSelectReadyForProductionBySource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatsCountIAItemPendingApproval">
      <soap:operation soapAction="http://www.mobot.org/StatsCountIAItemPendingApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatsSelectIAItemGroupByStatus">
      <soap:operation soapAction="http://www.mobot.org/StatsSelectIAItemGroupByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatsSelectIAItemPendingApprovalGroupByAge">
      <soap:operation soapAction="http://www.mobot.org/StatsSelectIAItemPendingApprovalGroupByAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BHLImportWSSoap12" type="tns:BHLImportWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IAItemSelectPendingApproval">
      <soap12:operation soapAction="http://www.mobot.org/IAItemSelectPendingApproval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BotanicusHarvestLogSelectRecent">
      <soap12:operation soapAction="http://www.mobot.org/BotanicusHarvestLogSelectRecent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IAItemErrorSelectRecent">
      <soap12:operation soapAction="http://www.mobot.org/IAItemErrorSelectRecent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportErrorSelectRecent">
      <soap12:operation soapAction="http://www.mobot.org/ImportErrorSelectRecent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportLogSelectRecent">
      <soap12:operation soapAction="http://www.mobot.org/ImportLogSelectRecent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatsSelectReadyForProductionBySource">
      <soap12:operation soapAction="http://www.mobot.org/StatsSelectReadyForProductionBySource" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatsCountIAItemPendingApproval">
      <soap12:operation soapAction="http://www.mobot.org/StatsCountIAItemPendingApproval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatsSelectIAItemGroupByStatus">
      <soap12:operation soapAction="http://www.mobot.org/StatsSelectIAItemGroupByStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatsSelectIAItemPendingApprovalGroupByAge">
      <soap12:operation soapAction="http://www.mobot.org/StatsSelectIAItemPendingApprovalGroupByAge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BHLImportWS">
    <wsdl:port name="BHLImportWSSoap" binding="tns:BHLImportWSSoap">
      <soap:address location="http://server/bhlimportwebservice/bhlimportws.asmx" />
    </wsdl:port>
    <wsdl:port name="BHLImportWSSoap12" binding="tns:BHLImportWSSoap12">
      <soap12:address location="http://server/bhlimportwebservice/bhlimportws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>